<h3 style="text-align:center">GregorianMonthdaySpecial Table Management</h3>
<div class="edit-content">

  <button mat-raised-button (click)="openAddDialog()">Add</button>
  <button mat-raised-button (click)="openUpdateDialog()">Update</button>
  <button mat-raised-button [disabled]="isDisableDelete"  (click)="deletedSelectedObjects()">Remove</button>
  <button mat-raised-button (click)="openSearchDialog()">Search</button>

  <mat-menu #searchMenu="matMenu">
  </mat-menu>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':isShowGeneralTable}">
    <!-- add filter -->
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <!-- showing the general table -->

    <table mat-table [dataSource]="dataSource" matSort [ngStyle]="{'display':isShowGeneralTable}">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <ng-container *ngFor="let field of displayedColumns"  matColumnDef="{{field}}">
        <!-- Checkbox Column -->
        <div *ngIf="field ==='select'">
          <th mat-header-cell *matHeaderCellDef style="padding: 7px">
            <mat-checkbox (change)="$event ? masterToggle() : null "
                          (change)="changeOptions($event)"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" style="padding: 7px">
            <mat-checkbox (click)="$event.stopPropagation()  "

                          (change)="$event ? selection.toggle(row) : null ; changeOptions($event)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </div>
        <!-- Position Column -->
        <div *ngIf="field!=='update' && field!=='delete' ">
          <th mat-header-cell *matHeaderCellDef style="padding: 7px" mat-sort-header>  {{field}}</th>
          <td mat-cell *matCellDef="let element" style="padding: 7px"> {{element[field]}}</td>
        </div>
        <div *ngIf="field ==='update'">
          <th mat-header-cell *matHeaderCellDef style="padding: 5px">  {{field}}</th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="openUpdateDialog(element)" >Update</button></td>
        </div>
        <div *ngIf="field ==='delete'">
          <th mat-header-cell *matHeaderCellDef style="padding: 5px">  {{field}}</th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button (click)="openDeleteDialog(element.id)" >Delete</button></td>
        </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" > </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">   </tr>

    </table>
    <mat-paginator  #scheduledOrdersPaginator [pageSizeOptions]="[10, 25, 50, 100]"  [showFirstLastButtons]="true"></mat-paginator>
  </div>
  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':isShowSearchTable}">
    <h1> Search Result</h1>
    <table mat-table [dataSource]="searchSource" matSort>

      <!-- Position Column -->
      <ng-container *ngFor="let field of displayedColumns"  matColumnDef="{{field}}">
        <!-- Checkbox Column -->
        <div *ngIf="field ==='select'">
          <th mat-header-cell *matHeaderCellDef style="padding: 7px">
            <mat-checkbox (change)="$event ? masterToggle() : null "
                          (change)="changeOptions($event)"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" style="padding: 7px">
            <mat-checkbox (click)="$event.stopPropagation()  "

                          (change)="$event ? selection.toggle(row) : null ; changeOptions($event)"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </div>
        <div *ngIf="field!=='update' && field!=='delete' && field!=='select'">
          <th mat-header-cell *matHeaderCellDef style="padding: 7px" mat-sort-header>  {{field}}</th>
          <td mat-cell *matCellDef="let element" style="padding: 5px"> {{element[field]}}</td>
        </div>
        <div *ngIf="field ==='update'">
          <th mat-header-cell *matHeaderCellDef style="padding: 5px">  {{field}}</th>
          <td mat-cell *matCellDef="let element" style="padding: 5px"><button mat-raised-button (click)="openUpdateDialog(element)" >Update</button></td>
        </div>
        <div *ngIf="field ==='delete'">
          <th mat-header-cell *matHeaderCellDef style="padding: 5px">  {{field}}</th>
          <td mat-cell *matCellDef="let element" style="padding: 5px"><button mat-raised-button (click)="openDeleteDialog(element.id)" >Delete</button></td>
        </div>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" > </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">   </tr>
    </table>

    <button mat-raised-button (click)="back()">Back</button>
    <mat-paginator  #searchPaginator [pageSizeOptions]="[10, 25, 50, 100]"  [showFirstLastButtons]="true"></mat-paginator>

  </div>
</div>


